<!-- <app-navbar></app-navbar> -->
<!-- <div class="container"*ngIf="profile">
  <div class="content">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
          <img src="{{profile.avatar_url}}" class="img-fluid rounded-circle" alt="Profile Image">
        </div>
        <div class="col-sm-6">
          <ul class="list-group">
            <li class="list-group-item" *ngIf="profile.bio" appHighlight>{{profile.name}}</li>
            <li class="list-group-item" *ngIf="profile.bio">{{profile.bio}}</li>
            <li class="list-group-item" *ngIf="profile.type">Available for hire</li>
            <li class="list-group-item" *ngIf="profile.blog"><a href="{{profile.blog}}"
                target="blank">{{profile.blog}}</a> </li>
            <li class="list-group-item" *ngIf="profile.email"><a href="{{profile.email}}"
                target="blank">{{profile.email}}</a> </li>
          </ul>
        </div>

        <div class="col-sm-5" *ngFor="let repo of repos" >
          <table class="table">
         <thead>
          <tr>
            <th scope="col"> {{repo.name}}</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
         </thead>
         

          </table>
       
        </div>
      </div>
    </div>
  </div>
</div>
 -->
<!-- <app-navbar></app-navbar> -->
 <div class="container">
  <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12">
          <h3>My github account</h3>
          <hr>
      </div>
  </div>
  <div class="row">
      <div class="col-md-4 col-lg-4 col-sm-12">
          <div class="card">
              <div class="card-header">
                  <h4 class="text-center">Account</h4>
              </div>
              <img src="{{ profile.avatar_url}}" class="rounded-circle card-img-top" alt="{{ profile.login }}" width="25px">
              <div class="card-body">
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item" appHighlight>{{ profile.login }}</li>
                      <li class="list-group-item">{{ profile.public_repos }} public repos</li>
                      <li class="list-group-item updated">Updated {{ profile.updated_at }}</li>
                    </ul>
              </div>
          </div>
      </div>
      <div class="col-md-8 col-lg-8 col-sm-12">
          <div class="card">
              <div class="card-header" >
                  <h4>Repositories</h4>
              </div>
              <div class="card-body">
                  <div class="row" *ngFor="let repo of repos">
                     <ul class="list-group list-group-flush">
                      <li class="list-group-item" > {{repo.name}}</li>
                    </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
</div>